<template>
  <v-content>
    <v-list>
      <v-list-item>
        <v-row>
          <v-col
              cols="12"
              md="8">
            <v-card>
              <v-card-title>
                 <span class="font-weight-bold text-md-h4">
                  คำนวณวันทำการ
                </span>
              </v-card-title>
              <v-card-text class="mt-10">
                <v-row class="d-flex justify-center text-center">
                  <v-col
                      cols="12"
                      md="6"
                  >
                    <p class="font-weight-bold text-md-h5 text-center">วันที่เริ่มต้น</p>
                    <v-date-picker
                        v-model="date1"
                        locale="th"
                        color="green"
                        class="darken-3"
                        style="border: 1px black solid"
                        @change="ExecDay"
                    ></v-date-picker>
                  </v-col>
                  <v-col
                      cols="12"
                      md="6">
                    <p class="font-weight-bold text-md-h5 text-center">วันที่สิ้นสุด</p>
                    <v-date-picker
                        v-model="date2"
                        locale="th"
                        color="green"
                        class="darken-3"
                        style="border: 1px black solid"
                        @change="ExecDay"
                    ></v-date-picker>
                  </v-col>
                </v-row>
                <v-row justify="space-around" class="mt-16">
                  <p class="text-md-h4 font-weight-bold pl-16" style="color: darkorchid">
                    {{date1 | DateToThai}}
                  </p>
                  <p class="text-md-h4 font-weight-bold pl-16" style="color: black" v-if="date1 != null && date2 != null">
                    ถึง
                  </p>
                  <p class="text-md-h4 font-weight-bold pl-16" style="color: darkorchid">
                    {{date2 | DateToThai}}
                  </p>
                </v-row>
                <v-divider class="mt-10"></v-divider>
                <v-list-item>
                  <p class="text-md-h6 font-weight-bold pl-16" style="color: black">
                    นับทุกวัน
                  </p>
                  <v-spacer></v-spacer>
                  <p class="text-md-h6 font-weight-bold pl-16" style="color: red">
                    {{countAllDay}}  วัน
                  </p>
                </v-list-item>
                <v-divider class="mt-6"></v-divider>
                <v-list-item>
                  <p class="text-md-h6 font-weight-bold pl-16" style="color: black">
                    ไม่นับวันเสาร์-อาทิตย์
                  </p>
                  <v-spacer></v-spacer>
                  <p class="text-md-h6 font-weight-bold pl-16" style="color: red">
                    {{countCordi1}}  วัน
                  </p>
                </v-list-item>
                <v-divider class="mt-6"></v-divider>
                <v-list-item>
                  <p class="text-md-h6 font-weight-bold pl-16" style="color: black">
                    ไม่นับนับหยุด
                  </p>
                  <v-spacer></v-spacer>
                  <p class="text-md-h6 font-weight-bold pl-16" style="color: red">
                    {{countCordi2}}  วัน
                  </p>
                </v-list-item>
                <v-divider class="mt-6"></v-divider>
                <v-list-item>
                  <p class="text-md-h6 font-weight-bold pl-16" style="color: black">
                    ไม่นับวันเสาร์-อาทิตย์ และวันหยุด
                  </p>
                  <v-spacer></v-spacer>
                  <p class="text-md-h6 font-weight-bold pl-16" style="color: red">
                    {{countCordi3}}  วัน
                  </p>
                </v-list-item>
                <v-divider class="mt-6"></v-divider>
                <v-list-item>
                  <p class="text-md-h6 font-weight-bold pl-16" style="color: black">
                    ไม่นับวันอาทิตย์
                  </p>
                  <v-spacer></v-spacer>
                  <p class="text-md-h6 font-weight-bold pl-16" style="color: red">
                    {{countCordi4}}  วัน
                  </p>
                </v-list-item>
                <v-divider class="mt-6"></v-divider>
                <v-list-item>
                  <p class="text-md-h6 font-weight-bold pl-16" style="color: black">
                    ไม่นับวันอาทิตย์ และวันหยุด
                  </p>
                  <v-spacer></v-spacer>
                  <p class="text-md-h6 font-weight-bold pl-16" style="color: red">
                    {{countCordi5}}  วัน
                  </p>
                </v-list-item>
                <v-divider class="mt-6"></v-divider>
                <v-list-item>
                  <p class="text-md-h6 font-weight-bold pl-16" style="color: black">
                    ไม่นับวันเสาร์
                  </p>
                  <v-spacer></v-spacer>
                  <p class="text-md-h6 font-weight-bold pl-16" style="color: red">
                    {{countCordi6}}  วัน
                  </p>
                </v-list-item>
                <v-divider class="mt-6"></v-divider>
                <v-list-item>
                  <p class="text-md-h6 font-weight-bold pl-16" style="color: black">
                    ไม่นับวันเสาร์ และวันหยุด
                  </p>
                  <v-spacer></v-spacer>
                  <p class="text-md-h6 font-weight-bold pl-16" style="color: red">
                    {{countCordi7}}  วัน
                  </p>
                </v-list-item>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col
              cols="12"
              md="4">
            <v-card>
              <v-card-title>
                  <span class="font-weight-bold text-md-h4">
                  ตารางวันหยุด
                </span>
              </v-card-title>
              <v-card-subtitle>
                 <span class="font-weight-bold text-md-h5" style="color: darkorchid" v-if="date1 != null && date2 != null">
                   {{date1 | DateToThai}} - {{date2 | DateToThai}} ( จำนวน {{holidayCordi.length}} วัน )
                </span>
              </v-card-subtitle>
              <v-card-text>
                <v-data-table
                    :items="holidayCordi"
                    :headers="header"
                >
                  <template v-slot:item.full_Detail="{item}">
                    <p style="font-weight: bold;color: darkred">{{item.full_Detail}}</p>
                  </template>
                </v-data-table>
              </v-card-text>
            </v-card>
            <v-card>
              <v-card-title>
                  <span class="font-weight-bold text-md-h4">
                  เสาร์ - อาทิตย์
                </span>
              </v-card-title>
              <v-card-subtitle>
                 <span class="font-weight-bold text-md-h5" style="color: darkorchid" v-if="date1 != null && date2 != null">
                   {{date1 | DateToThai}} - {{date2 | DateToThai}} ( จำนวน {{dayStopCordi.length}} วัน )
                </span>
              </v-card-subtitle>
              <v-card-text>
                <v-data-table
                    :items="dayStopCordi"
                    :headers="header"
                >
                  <template v-slot:item.full_Detail="{item}">
                    <p style="font-weight: bold;color: darkred">{{item.full_Detail}}</p>
                  </template>
                </v-data-table>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-list-item>
<!--      <v-list-item style="margin-top: 50px" class="d-flex justify-center">-->
<!--        <v-card>-->
<!--          <v-card-title>-->
<!--                    <span class="font-weight-bold text-md-h4">-->
<!--                  ตารางวันหยุดทั้งหมด-->
<!--                </span>-->
<!--          </v-card-title>-->
<!--          <v-card-text>-->
<!--            <v-data-table-->
<!--                :items="holiday"-->
<!--                :headers="header"-->
<!--            >-->
<!--              &lt;!&ndash;                  <template v-slot:item.Date_stop="{item}">&ndash;&gt;-->
<!--              &lt;!&ndash;                    {{item.Date_stop | DateToThai}}&ndash;&gt;-->
<!--              &lt;!&ndash;                  </template>&ndash;&gt;-->
<!--            </v-data-table>-->
<!--            &lt;!&ndash;                <div v-for="(holiday, idx) in holiday" :key="idx">&ndash;&gt;-->
<!--            &lt;!&ndash;                  <v-list-item>&ndash;&gt;-->
<!--            &lt;!&ndash;                    <p class="text-md-h6 font-weight-bold pl-16" style="color: black">&ndash;&gt;-->
<!--            &lt;!&ndash;                      {{ holiday.Date_stop }} : {{ holiday.Date_name }}&ndash;&gt;-->
<!--            &lt;!&ndash;                    </p>&ndash;&gt;-->
<!--            &lt;!&ndash;                    <v-divider class="mt-6"></v-divider>&ndash;&gt;-->
<!--            &lt;!&ndash;                  </v-list-item>&ndash;&gt;-->
<!--            &lt;!&ndash;                </div>&ndash;&gt;-->
<!--          </v-card-text>-->
<!--        </v-card>-->
<!--      </v-list-item>-->
    </v-list>
  </v-content>
</template>

<script>
import axios from 'axios'
import ConstData from '../const/Const'
import Vue from 'vue'
export default {
  name: "ExecWorkingDay",
  data() {
    return {
      countAllDay: 0,
      countCordi1: 0,
      countCordi2: 0,
      countCordi3: 0,
      countCordi4: 0,
      countCordi5: 0,
      countCordi6: 0,
      countCordi7: 0,
      date1: null,
      date2: null,
      holiday: [],
      DATEOFYEAR: [],
      holidayCordi: [],
      dayStopCordi: [],
      header: [
        {
          text: 'รายละเอียด',
          value: 'full_Detail'
        },
      ]
    }
  },
  methods: {
    init() {
      this.holiday = []
      this.getHolidayData().then(res => {
        if (res.status) {
          res.data.map(item => {
            this.holiday.push({
              ...item,
              full_Detail: (Vue.filter('DateToThai')(item.Date_stop)) + ' - ' + item.Date_name
            })
          })
        }
      })
    },
    ExecDay() {
      var holidayDump = []
      var dayDump = []
      this.countAllDay = 0
      this.countCordi1 = 0
      this.countCordi2 = 0
      this.countCordi3 = 0
      this.countCordi4 = 0
      this.countCordi5 = 0
      this.countCordi6 = 0
      this.countCordi7 = 0
      this.DATEOFYEAR = []
      this.holidayCordi = []
      this.dayStopCordi = []
      if (this.date1 != null && this.date2 != null) {
        var firstDay = new Date(this.date1);
        var lastDay = new Date(this.date2);
        for (var d = firstDay; d <= lastDay; d.setDate(d.getDate() + 1)) {
          this.DATEOFYEAR.push({
            DAY: this.GetTimeToDb(d),
            DAY_NAME: d.toLocaleDateString('en-US', {
              weekday: 'long'
            }),
            DAY_NAME_TH: this.getDayNameTh(d.toLocaleDateString('en-US', {
              weekday: 'long'
            })),
            STATUS: '-',
            Holiday: this.holiday.filter(item => item.Date_stop == this.GetTimeToDb(d)).length > 0 ? this.holiday.filter(item => item.Date_stop == this.GetTimeToDb(d))[0] : null,
            Holiday_Status: this.holiday.filter(item => item.Date_stop == this.GetTimeToDb(d)).length > 0 ? true : false,
          })
        }
        this.countAllDay = this.DATEOFYEAR.length
        this.countCordi1 = this.DATEOFYEAR.length - this.DATEOFYEAR.filter(item => item.DAY_NAME == 'Saturday' || item.DAY_NAME == 'Sunday').length
        this.countCordi2 = this.DATEOFYEAR.length - this.DATEOFYEAR.filter(item => item.Holiday_Status).length
        this.countCordi3 = this.DATEOFYEAR.length - this.DATEOFYEAR.filter(item => (item.DAY_NAME == 'Saturday' || item.DAY_NAME == 'Sunday') || (item.Holiday_Status)).length
        this.countCordi4 = this.DATEOFYEAR.length - this.DATEOFYEAR.filter(item => item.DAY_NAME == 'Sunday').length
        this.countCordi5 = this.DATEOFYEAR.length - this.DATEOFYEAR.filter(item => item.DAY_NAME == 'Sunday' || item.Holiday_Status).length
        this.countCordi6 = this.DATEOFYEAR.length - this.DATEOFYEAR.filter(item => item.DAY_NAME == 'Saturday').length
        this.countCordi7 = this.DATEOFYEAR.length - this.DATEOFYEAR.filter(item => item.DAY_NAME == 'Saturday' || item.Holiday_Status).length

        holidayDump = this.DATEOFYEAR.filter(item => item.Holiday_Status)
        dayDump = this.DATEOFYEAR.filter(item => (item.DAY_NAME == 'Saturday' || item.DAY_NAME == 'Sunday'))
        if (holidayDump.length > 0) {
          holidayDump.map(item => {
            this.holidayCordi.push(
              item.Holiday
            )
          })
        }
        if (dayDump.length > 0) {
          dayDump.map(item => {
            this.dayStopCordi.push(
                {
                  full_Detail: (Vue.filter('DateToThai')(item.DAY)) + ' -' + item.DAY_NAME_TH
                }
            )
          })
        }
      }
    },
    getDayNameTh(dayName) {
      var name = ''
      switch (dayName) {
        case 'Monday':
          name = 'จันทร์'
              break
        case 'Tuesday':
          name = 'อังคาร'
              break
        case 'Wednesday':
          name = 'พุธ'
              break
        case 'Thursday':
          name = 'พฤหัสบดี'
              break
        case 'Friday':
          name = 'ศุกร์'
              break
        case 'Saturday':
          name = 'เสาร์'
              break
        case 'Sunday':
          name = 'อาทิตย์'
              break
        default:
          break
      }
      return name
    },
    GetTimeToDb(date) {
      var dd = date.getDate();
      var mm = date.getMonth() + 1;

      var yyyy = date.getFullYear();
      if (dd < 10) {
        dd = '0' + dd;
      }
      if (mm < 10) {
        mm = '0' + mm;
      }
      return date = yyyy + '-' + mm + '-' + dd;
    },
    getHolidayData() {
      return new Promise(resolve => {
        axios.get(ConstData.ConnectionHost + '/app-api/v2/?/apis/mmis_center/D_holiday/?sort=Date_stop_desc&limit=9999').then(res => {
          if (res.data) {
            if (res.data.length > 0) {
              resolve({
                status: true,
                data: res.data
              })
            } else {
              resolve({
                status: true,
                data: new Array(res.data)
              })
            }
          } else{
            resolve({
              status: false,
              data: null
            })
          }
        })
      })
    }
  },
  mounted() {
    this.init()
  }
}
</script>

<style scoped>

</style>