<template>
  <v-app>
    <v-app-bar
      app
      color="green"
      class="darken-3"
      dark
    >
      <span class="mr-2 text-md-h4" style="font-weight: bold;">ฝ่ายทรัพยากรมนุษย์</span>

      <v-spacer></v-spacer>

      <span class="mr-2 text-md-h4" style="font-weight: bold;">ระบบคำนวณวันทำการ</span>
    </v-app-bar>

    <v-main>
      <ExecWorkingDay/>
    </v-main>
  </v-app>
</template>

<script>
import ExecWorkingDay from './components/ExecWorkingDay';

export default {
  name: 'App',

  components: {
    ExecWorkingDay,
  },

  data: () => ({
    //
  }),
};
</script>
